<div class="container d-flex flex-column" *ngIf="onebook.id != undefined">
  <div class="d-flex flex-column">

    <img src="{{onebook.cover}}" alt="">
    <p>Autor:
    <input type="text" class="mx-2" [(ngModel)]="onebook.author" style="width:250px;">
    </p>

    <p>Tytuł:
      <input type="text" class="mx-2" [(ngModel)]="onebook.name" style="width:250px;">
    </p>

    <p>Rok wydania:
      <input type="text" class="mx-2" [(ngModel)]="onebook.date" style="width:250px;">
    </p>

    <p>Gatunek:
      <input type="text" class="mx-2" [(ngModel)]="onebook.type" style="width:250px;">
    </p>

    <p>Ocena:
      <input type="text" class="mx-2" [(ngModel)]="onebook.rating" style="width:250px;">
    </p>

  </div>
  <div class="justify-content-center">
    <button class="btn btn-info my-3" (click)="this.updateBook(onebook.id, onebook.author, onebook.name, onebook.date, onebook.type, onebook.rating)">Zaaktualizuj książkę</button>
    <button class="btn btn-danger my-3" (click)="this.deleteBook()">Usuń książkę</button>
  </div>
</div>
